header,body {
    background-color: #292929; 
}
html, body{
    width:          100%;
    height:         100%;
    margin:         0;
}
.bg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.logo {
    width: 25%;
    height: 15%;
    position: absolute;
    top: 2%;
    left: 53%;
}
.table{
    width: 68%;
    margin: 10px auto;
}

.table th, .table td {
    background: #242323;
    color: #ffffff;
}


.col {
    font-size: 32px;
}

h4 {
    margin-top: 15px ;
    color: #ffffff;
}
footer {
    background: #242323;
    height: 300px;
}
.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #e77c48;
}
.addBtn:hover{
    background-color: #e77c48;
}

tbody.can-select tr[data-selected] td {
    box-shadow: inset 0px 5px 2px -3px #e77c48, inset 0px -5px 2px -3px #e77c48;
}

tbody.can-select tr[data-selected] td:first-of-type {
    box-shadow: inset 1px 2px 2px 0px #e77c48, inset 1px -2px 2px 0px #e77c48;
}

tbody.can-select tr[data-selected] td:last-of-type {
    box-shadow: inset -1px 2px 2px 0px #e77c48, inset -1px -2px 2px 0px #e77c48;
}

tbody.can-select tr[data-selected] tr:not([data-selected]) {
    cursor: pointer
}

input[readonly] {
    background-color: rgb(230,230,230) !important;
    border: none;
    outline: none;
    cursor: default;
}